@model ContactDelete

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression de contact</h1>

<h3>Êtes-vous sûr de vouloir supprimer @Model.FirstName @Model.LastName.ToUpper()</h3>
    
    <form asp-action="Delete">
        <div class="form-group btn-group">
            <input type="submit" value="🗑" class="btn btn-outline-danger" />
            <a asp-action="Index" class="btn btn-outline-warning">⬅Revenir à la liste</a>
        </div>
    </form>
