@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ContactCreateForm
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactManager - Create Contact</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <div>Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">
                    <div>Privacy</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Auth/Login">
                    <div>Login</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Auth/Register">
                    <div>Register</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact/Index">
                    <div>Contact list</div>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
       @* @if(!ViewContext.ModelState.IsValid){
            <div class="alert alert-danger container">
                <h4>Erreurs :</h4>
                <dl>
                @foreach (KeyValuePair<string, ModelStateEntry> kvp in ViewContext.ModelState)
                {
                    if(kvp.Value.Errors.Count() > 0)
                    {
                        <dt>@kvp.Key</dt>
                        <dd><ul>
                            @foreach (ModelError error in kvp.Value.Errors)
                            {
                             <li>@error.ErrorMessage</li>   
                            }
                        </ul></dd>
                    }
                }
                </dl>
            </div>
        }*@
        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger container" asp-validation-summary="ModelOnly">Erreurs : @ViewContext.ModelState.ErrorCount</div>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control">
                <span asp-validation-for="Phone" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control">
                <span asp-validation-for="BirthDate" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @*@Html.DropDownListFor(model=>model.CategoryId,Model.Categories.Select(kvp => new SelectListItem{Text = kvp.Key, Value=kvp.Value.ToString()}), htmlAttributes: new{@class="form-control"})*@
                <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories.Select(kvp => new SelectListItem{Text = kvp.Value, Value=kvp.Key.ToString()})"></select>
                <span asp-validation-for="CategoryId" class="text-warning"></span>
                </div>
            <div class="btn-group">
                <input class="btn btn-primary" type="submit" value="Ajouter">
                <input class="btn btn-secondary" type="reset" value="Annuler">
            </div>
        </form>
     </div>
</body>
</html>