@inject ASP.ContactManager.Handlers.SessionManager session;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.ContactManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.ContactManager.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex flex-row overflow-hidden min-vh-100 vh-100">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid  flex-column">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">👨‍👩‍👦‍👦</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        @if (session.CurrentUser != null)
                        {
                            <p>Bonjour @session.CurrentUser.FirstName @session.CurrentUser.LastName</p>
                        }
                        <div class="navbar-collapse collapse">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                                </li>
                                @if (session.CurrentUser != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                                    </li>                                    
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Se déconnecter</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Se connecter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">S'enregistrer</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ASP.ContactManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Informations relatifs à la vie privée.</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
