@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactManager</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <div>Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">
                    <div>Privacy</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Auth/Login">
                    <div>Login</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Auth/Register">
                    <div>Register</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact/Index">
                    <div>Contact list</div>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat neque, alias corporis voluptatem obcaecati voluptatum, magni magnam iure esse labore maiores eos et nam dolore quo deleniti architecto, commodi eligendi?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nisi quaerat aliquam ea laboriosam expedita soluta illum perferendis quos, sed nihil error? Quo veniam veritatis, minus tempora libero nulla alias.</p>
        <p>Saepe accusamus exercitationem velit ipsum totam excepturi consequatur eos laudantium dolorem nisi inventore soluta in reiciendis possimus, debitis blanditiis rerum! Veniam, architecto. Dolorum quo qui, voluptatum architecto et eveniet rem!</p>
        <p>Unde sit voluptatibus repellendus dolorem consectetur accusantium porro aliquam labore ipsum quisquam ipsa quas, similique molestiae modi a dolorum molestias expedita impedit, provident sequi voluptatem? Nulla nihil vero assumenda facere!</p>
        <p>Nulla minima omnis unde, velit ipsa esse dignissimos eveniet quasi a accusamus sequi tempora eligendi, qui labore rem. Quaerat neque qui, aspernatur saepe molestiae maiores. Architecto doloribus inventore adipisci minus?</p>
        <p>Perspiciatis, laudantium at vero maxime temporibus et sit laboriosam facere rerum, eveniet voluptate quas similique tempore nostrum ipsa sequi. Ut praesentium natus sapiente beatae ratione nemo repellat recusandae quidem adipisci.</p>
    </div>
</body>
</html>