@{
    Layout = "";
    string privacy_msg = "Les engagements présents ont pour objet de vous indiquer la nature des données personnelles que nous collectons dans le cadre de votre utilisation de nos services et de vous expliquer comment et à quelles fins nous utilisons ces données.";
    void CreateNav(Dictionary<string,string> links)
    {
    <nav><ul class="nav justify-content-center">
            @foreach (KeyValuePair<string,string> link in links)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@link.Key">
                        <div>@link.Value</div>
                    </a>
                </li>
            }
            </ul></nav>
    }

    Dictionary<string, string> menu = new Dictionary<string, string>();
    menu.Add(@"\","Home");
    menu.Add(@"\Home\Privacy","Privacy");
    menu.Add(@"\Auth\Login","Login");
    menu.Add(@"\Auth\Register","Register");
}

    @{CreateNav(menu);}
    <div class="container">
        <h1>Les coockies c'est la vie!</h1>
        <p>@privacy_msg</p>
    </div>